<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pudge</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href={% static "css/mystyle.css" %}>

</head>
<body>
    <h1 align="right">blogs</h1>
    <hr>
    <p align="right"><a href='{% url 'article_new' %}'>new</a>
    <p align="center"><b>Article list</b></p>
    <br>
    <br>
    <div class="center">
        {% for article in articles %}
        <a href="{% url 'article_detail' article.id %}">{{ forloop.counter }}. {{ article.title }}</a><br>
{#        <a href="/blog/article/{{ article.id }}/detail.html">{{ forloop.counter }}. {{ article.title }}</a><br>#}
        {% endfor %}
    </div>
</body>
</html>