{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<a href="{% url 'article_list' %}">cancel</a></p>
<form method="post" action="{% url 'article_new' %}">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}

    <p>Category: <input name="category" type="text" value="category_placeholder"/></p>
    <p>Tags: <input name="tags" type="text" value="tag_placeholder"></p>

    <p><input type="submit" value="post"></p>
</form>
</body>
</html>