{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<p><a href="{% url 'article_detail' article.id %}">cancel</a></p>
{#<p><a id="article_delete" href="{% url 'article_list' %}">delete</a>#}
<p><a id="article_delete" href='{% url 'article_list' %}'>delete</a>
<form method="post" action="{% url 'article_edit' article.id %}">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}

    <p>Category: <input name="category" type="text" value={{ article.category }}/></p>
    <p>Tags: <input name="tags" type="text" value=
            {% for tag in article.tags.all %}{{ tag.name }}{% if not forloop.last %},{% endif %}{% endfor %}>
    </p>

<p><input type="submit" value="post"></p>
</form>


<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.js"></script>
<script>
    $('#article_delete').click(function(){


        // using jQuery
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

        $.ajax({
            url: "{% url 'article_edit' article.id %}", type: 'DELETE', success:function(result){
            alert('successful delete: {{ article.title }}');
        }});

    });
</script>

</body>
</html>