{% extends "layout.html" %}

{% block main %}

    <h2>
    这是一个测试项目，用来练习django的用法。
    </h2>

    <h3>下一步</h3>
    <p>改造document页面，记录需求</p>

    <ul>
        {% for todo in resp.results %}
            <a href={% url "t-blog-detail" todo.id %}></a>
            <li>
                <h4>
                    {{ todo.title }}
                </h4>
                <p>
                    {{ todo.content }}
                </p>
            </li>
        {% endfor %}
    </ul>



{#    <p style="text-align: right">#}
{#        <a href={% url "t-note-new" %}>#}
{#            <button>create</button>#}
{#        </a>#}
{#    </p>#}
{##}
{#    <p style="text-align: right">#}
{#        {% csrf_token %}#}
{#        <button onclick="deleteNote()">delete</button>#}
{#    </p>#}
{##}
{#    <p style="text-align: left">#}
{#        <a href={% url "t-note-list" %}>#}
{#            <button>return</button>#}
{#        </a>#}
{#        <a href={% url "t-note-edit" note.id %}>#}
{#            <button>edit</button>#}
{#        </a>#}
{#    </p>#}
{##}
{#    <hr>#}
{##}
{#    <h2>{{ note.title }}</h2>#}
{##}
{#    <div style="text-align: left">#}
        {#  <p>{{ note.content }}</p> #}
{#        {{ content_html|safe }}#}
{#    </div>#}
{##}
{##}
{#    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>#}
{#    <script>#}
{#        function deleteNote() {#}
{#            if (confirm("Are you sure to delete this record?")) {#}
{#                csrf = document.querySelector('[name=csrfmiddlewaretoken]').value#}
{#                axios({#}
{#                    method: 'delete',#}
{#                    url: '{% url "note-detail" note.id %}',#}
{#                    headers: {'X-CSRFToken': csrf},#}
{#                }).then(data => {#}
{#                        window.location.href = "{% url 't-note-list' %}";#}
{#                    }#}
{#                ).catch(err => {#}
{#                        console.log(err)#}
{#                    }#}
{#                )#}
{#                return false#}
{#            }#}
{#        }#}
{#    </script>#}


{% endblock %}






