{% extends "layout.html" %}

{% block main %}


    <div id="operate">
        <a href={% url "t-note-new" %}>
            <button class="btn btn-info">create</button>
        </a>
            <a href={% url "t-note-upload" %}>
            <button class="btn btn-info">upload</button>
        </a>
            <a href={% url "t-note-scan" %}>
            <button class="btn btn-info">scan</button>
        </a>
    </div>

    <table id="article-list" class="table table-dark table-borderless">
        <tr>
            <th>标题</th>
            <th>类别</th>
            <th>操作</th>
        </tr>
        {% for note in notes %}
            <tr>
                <td><a href={% url "t-note-detail" note.id %}>{{ note.title }}</a></td>
                <td><a href="#">{{ note.category }}</a></td>

                <td>
                    <a href={% url "t-note-backup" note.id %}><button class="btn btn-info">备份</button></a>
                    <a href={% url "t-note-sync" note.id %}><button class="btn btn-info">同步</button></a></td>
            </tr>
        {% endfor %}
    </table>
{#    <hr>#}
{##}
{#    <ul>#}
{#        {% for note in notes %}#}
{#            <li>#}
{#                <a href={% url "t-note-detail" note.id %}>{{ note.title }}</a>#}
{#                <a href={% url "t-note-backup" note.id %}>备份</a>#}
{#                <a href={% url "t-note-sync" note.id %}>同步</a>#}
{#            </li>#}
{#        {% endfor %}#}
{##}
{#        <p></p>#}
        <p><a href={{ previous }}>前一页</a><a href={{ next }}>后一页</a></p>
        <p>当前页数：{{ current_page }} 总页数：{{ total_page }} 总记录数：{{ count }}</p>


    </ul>

{% endblock %}
