<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pudge</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href={% static "css/mystyle.css" %}>
</head>
<body>
    <div id="logo" class="center">
        <img src={% static "logo/logo500x500.jpg" %} alt="pudge"/>
    </div>

    <div id="nav" class="center">
        <a href="{% url 'article_list'%}"  target="_blank" >Blog</a>
        <a href="{% url 'app'%}"  target="_blank" >app</a>
        <a href="admin"  target="_blank" >admin</a>
    </div>


</body>

</html>