<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pudge</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href={% static "css/mystyle.css" %}>

</head>
<body>
    <h1 align="right">blogs</h1>
    <hr>
    <p align="right"><a href='{% url 'todo-new' %}'>new</a>
    <p align="center"><b>Todo list</b></p>
    <br>
    <br>
    <div class="center">
        {% for todo in todo_list %}
        <a href="{% url 'todo-detail' todo.id %}">{{ forloop.counter }}. {{ todo.body }}</a><br>
        {% endfor %}
    </div>
</body>
</html>