<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pudge</title>
    {% load static %}
    {% load rest_framework %}
    <link rel="stylesheet" type="text/css" href={% static "css/mystyle.css" %}>

    <style>
        dialog{
  padding:0;
  border:none;
  box-shadow:0px 1px 3px rgba(0,0,0,0.2);
  width:50%;
  border-radius:10px;
}
.header{
  padding:10px;
  color:#fff;
  border-radius:10px 10px 0 0;
  background:#50a8fa;
}
.content{
  padding:30px 12px 30px 12px;
}
.footer{
  background:#f9f9f9;
  overflow:hidden;
  border-radius:0 0 10px 10px;
  padding-right:20px;
}
.footer .ok,.footer .cancel{
  padding:10px;
  float:right;
  cursor:pointer;
}
.footer .ok:hover,.footer .cancel:hover{
  background:#ededed;
}
    </style>

</head>
<body>
    <h1 align="right">blogs</h1>
    <hr>
    <p align="center"><b>Todo list</b></p>
    <br>

    <p>
        <a href="{% url 'todo-list' %}">
            cancel
        </a>
    </p>
    <p>
        <a id="todo_delete" href="{% url 'todo-api-detail' todo.id %}">
            delete
        </a>
    </p>


    <button id="btn">edit</button>
    <dialog id="dia">
      <div class="header">
        tag info
      </div>
      <div class="content">
          <form accept-charset="UTF-8" action="{% url 'todo-api-edit' todo.id %}" method="post">
{#              <input type="hidden" name="_method" value="PATCH">#}
{#              <input name="_method" type="hidden" value="patch" />#}
              {% csrf_token %}
              {% render_form serializer %}
              <input type="submit" value="Save">
          </form>
      </div>
      <div class="footer">
        <div class="cancel">
          close
        </div>
      </div>
    </dialog>

    <div class="center">
        <p>[{{todo.get_status_display}}] {{ todo.body }}</p><br>
    </div>

    <script>
        var dialog = document.getElementById("dia");
        document.getElementById("btn").addEventListener("click",function(){
          dialog.showModal();
        });
        document.querySelector(".cancel").addEventListener("click",function(){
          dialog.close();
        });
    </script>

    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.js"></script>
<script>
    $('#todo_delete').click(function(){


        // using jQuery
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

        $.ajax({
            url: "{% url 'todo-api-detail' todo.id %}", type: 'DELETE', success:function(result){
            alert('successful delete: {{ todo.body }}');
            window.location.href = "{% url 'todo-list'%}"
        }});

    });
</script>

</body>
</html>