.ce-example__button {
  display: block;
  margin: 50px auto;
  max-width: 180px;
  background: #4A9DF8;
  padding: 17px 30px;
  box-shadow: 0 22px 18px -4px rgba(137, 207, 255, 0.77);
  transition: all 150ms ease;
  cursor: pointer;
  border-radius: 31px;
  color: #fff;
  font-family: 'PT Mono', Menlo, Monaco, Consolas, Courier New, monospace;
  text-align: center;
}

.ce-example__button:hover {
  background: #3D8DE5;
  transform: translateY(2px);
  box-shadow: 0 20px 15px -4px rgba(137, 207, 255, 0.77);
}

.ce-example__statusbar {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.18);
  font-size: 12px;
  padding: 8px 15px;
  z-index: 1;
}

.ce-example__statusbar-button {
  display: inline-flex;
  margin-left: 10px;
  background: #4A9DF8;
  padding: 6px 12px;
  box-shadow: 0 7px 8px -4px rgba(137, 207, 255, 0.77);
  transition: all 150ms ease;
  cursor: pointer;
  border-radius: 31px;
  color: #fff;
  font-family: 'PT Mono', Menlo, Monaco, Consolas, Courier New, monospace;
  text-align: center;
}